[user]
    name = Watts Martin
    email = layotl@gmail.com
[core]
    quotepath = false
[alias]
    co = checkout
    ci = commit
    dt = difftool
    mt = mergetool
    dtv = difftool -t vimdiff2
    dtk = difftool -t ksdiff
    dtb = difftool -t bbdiff
    mtv = mergetool -t vimdiff
    mtk = mergetool -t ksdiff
    amend = commit --amend
    pfwl = push --force-with-lease
[color]
    ui = auto

[credential]
    helper = osxkeychain
[credential "https://github.com"]
    useHttpPath = true

[mergetool "ksdiff"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustexitcode = true
[mergetool]
    prompt = false
[merge]
    tool = vimdiff

[difftool "ksdiff"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool "bbdiff"]
    cmd = bbdiff --wait --resume --text-files-only \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[diff]
    tool = bbdiff

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	ff = only
